:root {
--main-color: #d30909;
  --secondary-color: #000000;
}

html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  width: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

 @media (max-width: 300px) {
  .container {
    width: 360px;
  }
}

/* small  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium*/

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

/* start header */
/* start header */
/* start header */
.header {
  background-color: #ffffff;

}

.header .container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header img {
  width: 110px;
  margin: 0px;
  padding: 0px;

  animation-name: thebest;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

@keyframes thebest {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 20px 0;
  }

  100% {
    translate: 0 0;
  }
}

.header .container .name {
 color: var(--main-color)

}

.header .container .name span {
  color: var(--secondary-color);

}

@media (max-width: 768px) {
  .header {
    background-color: #fff;
    height: 50px;
    padding-bottom: 20px;
    padding-top: -200px;
    margin-top: 0px;
  }

  .header img {
    width: 40px;
  }

  .header .container .name {
    font-size: 14px;
    color: var(--main-color);
  }
}

    /* The menu */
   /* The menu */
  /* The menu */

  .title{
    margin-top: 20px;
    margin-bottom: -25px;
    text-align: center;
    color: #000000;
  }
  .title .text{

    font-size: 50px;
  }

    .title .text:hover{
color: #ffffff;
    font-size: 55px;
    font-weight: lighter;
  }

  /* start menu */
 /* staer menu */
/* start menu */

.menu .container{
   margin: auto;
  margin-top: 50px;
 text-align: center;
 padding: 0px;
 display: grid;

  grid-template-columns: repeat(auto-fill, minmax(340px));


gap: 0px;

padding-bottom: 50px;

}

.menu .col{
   margin: auto;

    direction: rtl;
box-shadow: 0 0 20px 20px rgb(166, 53, 53);
height: 300px;
margin: 50px;
background-color:  var(--secondary-color);

}



.menu  img{

 width: 100%;


}



   /* start container 22222*/
  /* start container 22222*/
 /* start container 22222*/

  .container form {
 margin-top: -50px;
margin-bottom: 0px;
padding-bottom: 5px;

text-align: center;
margin-bottom: 100px;

 }

  .container form .text{

font-size: 40px;
color: var(--secondary-color);
line-height: 2;
 margin-bottom: 10px;
margin-top: 70px;
 }

  .container form  a{
 font-size: 40px;
background-color: rgba(222, 219, 219, 0.447);
color: #000;

border: 2px solid rgb(255, 255, 255);
padding: 5px;


 }

  .container form a:hover{
color:  #FFF;
font-size: 45px;


 }

   @media (max-width: 500px) {
  .header   {
  padding-bottom: 60px;

  }
}
